/* -------------------- GENERAL STYLES -------------------- */

:root {
  /* FONT SIZES */
  --font-h1: 3rem;
  --font-h2: 2.25rem;
  --font-h3: 2rem;
  --font-base: 1rem;

  /* FONT FAMILY */
  --font-family: 'Roboto', sans-serif;

  /* FONT WEIGHT */
  --font-weight-bold: 900;
  --font-weight-light: 300;

  /* COLOR */
  --dark-bg: #1F2937;
  --hero-text-color: #F9FAF8;
  --secondary-text-color: #E5E7EB;
  --button-color: #3882f6;

  /* LINE HEIGHT */
  --line-height-tight: 1.1;
  --line-height-spaced: 1.5;

  /* LETTER SPACING */
  --letter-spacing-tight: -2px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-size: var(--font-base);
  font-family: var(--font-family);
  line-height: var(--line-height-spaced);
}

h1 {
  font-size: var(--font-h1);
  /* color: var(--hero-text-color); */
  font-weight: var(--font-weight-bold);
  line-height: var(--letter-spacing-tight);
  letter-spacing: var(--letter-spacing-tight);
}

h2 {font-size: var(--font-h2);}

h3 {font-size: var(--font-h3);}

p, a {font-size: var(--font-base);}